<div class="contenedor_tarjeta">
    <ng-container *ngTemplateOutlet="media"></ng-container>

    <ul class="contenido_tarjeta">
        <ng-container *ngTemplateOutlet="datos"></ng-container>
    </ul>
</div>


<!-- template -->
<!-- media -->
<ng-template #media>
    <div class="contenedor_media">
        <div class="reloj" *ngIf="configuracion.reloj && (alerta.reloj !== null)">
            <img src="{{alerta.reloj}}" alt="error :(">
        </div>
        <div class="icono" *ngIf="configuracion.icono && (alerta.icono !== null)">
            <img src="{{alerta.icono}}" alt="error :(">
        </div>
        <div class="imagen" *ngIf="configuracion.imagen && (alerta.imagen !== null)">
            <img src="{{alerta.imagen}}" alt="error :(">
        </div>
    </div>

</ng-template>

<!-- datos -->
<ng-template #datos>
    <li class="titulo" *ngIf="configuracion.titulo && (alerta.titulo !== null)">
        <label>{{alerta.titulo}}</label>
    </li>
    <li class="cuerpo">
        <label class="cantidad" *ngIf="configuracion.cantidad && (alerta.cantidad !== null)">Cantidad: <span class="datosUsuario">
                {{alerta.cantidad}} </span></label>
        <label class="duracion" *ngIf="configuracion.duracion && (alerta.duracion?.duracion1 !== null || alerta.duracion?.duracion2 !== null)">Falta{{this.pos()}}: <span class="datosUsuario">
                {{alerta.duracion?.duracion1}} {{alerta.duracion?.duracion2}}</span></label>
        <label class="fecha" *ngIf="configuracion.fecha && (alerta.fecha !== null)">Fecha: <span class="datosUsuario">
                {{alerta.fecha}} </span></label>
        <label class="inicia" *ngIf="configuracion.inicia && (alerta.inicia !== null)">Sonara a las: <span class="datosUsuario">
                {{alerta.inicia}}</span></label>
        <label class="termina" *ngIf="configuracion.termina && (alerta.termina !== null)">Hora limite:<span class="datosUsuario">
                {{alerta.termina}}</span></label>
        <label class="notificarAntesHoras" *ngIf="configuracion.notificarAntesHoras && (alerta.notificarAntesHoras !== null)">Notificar <span class="datosUsuario">
                {{alerta.notificarAntesHoras}}</span></label>
        <label class="notificarAntesMinutos" *ngIf="configuracion.notificarAntesMinutos && (alerta.notificarAntesMinutos !== null)">Notificar <span class="datosUsuario">
                {{alerta.notificarAntesMinutos}} </span></label>
        <label class="repetirCadaHoras" *ngIf="configuracion.repetirHoras && (alerta.repetirHoras !== null)">Sonara cada <span class="datosUsuario">
                {{alerta.repetirHoras}} </span>horas</label>
        <label class="repetirCadaMinutos" *ngIf="alerta.repetirMinutos && (alerta.repetirMinutos !== null)">Sonara cada <span class="datosUsuario">
                {{alerta.repetirMinutos}} </span>minutos</label>
        <!-- tono?: string, -->
    </li>
    <li class="datosFinales">
        <span class="dias" *ngIf="configuracion.dias">
            <label class="diaActivo">L</label>
            <label class="diaActivo">M</label>
            <label class="diaInactivo">M</label>
            <label class="diaInactivo">J</label>
            <label class="diaInactivo">V</label>
            <label class="diaActivo">S</label>
            <label class="diaActivo">D</label>
        </span>
        <span class="descripcion" *ngIf="configuracion.descripcion && (alerta.descripcion !== null)">
            <p class="descripcion_parrafo">{{alerta.descripcion}}</p>
        </span>

        <!-- mover los botones fuera de este contenedor -->
        <span class="botones">
            <img src="../../../assets/media/icono-bote-basura.png" alt="borrar" width="20" height="20"
                (click)="delete()">
            <img src="../../../assets/media/icono-tuerca.png" alt="config" width="20" height="20" (click)="modificar()">
        </span>
    </li>
</ng-template>