.contenedorCrearSeccion {
    max-width: 1215px;
    min-width: 355px;
    margin: 10px;
    background: #3d3d3d;
    border: 1px solid #000;
    display: flex;
    color: white;
    flex-wrap: wrap;
}

.seccionEtiquetaSuperior {
    width: 100%;
    margin-bottom: 10px;
    padding: 9px;
    background: #674ea7;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 23px;
    font-weight: 500;
}

.seccionEtiquetaSuperiorIMG {
    max-width: 32px;
    max-height: 32px;
}

.seccionEtiquetaSuperior > li > img {
    width: 100%;
}

.contenidoCrearSeccion {
    width: 100%;
    margin: 10px;
}

.seccion1 {
    display: d;
}

.abc1 {
    margin: 10px;
    display: flex;
    justify-content: space-around;
}

.seccion2 {
    display: d;
}

.seccion3 {
    width: 355px;
    padding: 0px 6px;

}

.seccion3 > label {
    margin-bottom: 10px;
    display: flex;
}

.seccion3 > div {
    width: 100%;
}

.seccion3 > div > input {
    margin-right: 6px;
}

.botonesS3 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}