<div class="ColitaCreate">
    <div id="contenidoCreate">
        <div class="EtiquetaSuperior">
            <span class="IconoIzquierda"><img src="../../../assets/media/icono-tuerca-modificar.png" alt="error :c" width="30" height="30"></span>
            <label id="titulo">añadir nueva {{seccionName}}</label>
            <span class="IconoDerecha"><img src="../../../assets/media/icono-tuerca-modificar.png" alt="error :c" width="30" height="30"></span>
        </div>
        <ul class="Campos">
            <div class="ImagenRelog">
                <h1 id="visualizarRelog"><img src="../../../../assets/media/relog-vacio.png" alt="error :c"></h1>
            </div>
            <li class="estandarCampo" id="campo1">
                <label>Titulo de la etiqueta: </label>
                <input type="text" id="etiquetaName">
            </li>
            <li class="estandarCampo" id="campo4">
                <label for="holaInicia">Sonar a las: </label>
                <input type="time" id="horaInicia" name="Campo4">
            </li>
            <li class="estandarCampo" id="campo5">
                <label for="horaTermina">Termina a las: </label>
                <input type="time" id="horaTermina" name="Campo5">
            </li>
        </ul>
    </div>
</div>
