<div class="contenedorAjustes">
    <div class="tema">
        <label for="cambiarTema">Tema:</label>
        <select id="cambiarTema" name="cTema" [(ngModel)]="tema">
            <option value="oscuro">Oscuro</option>
            <option value="claro">Claro</option>
        </select>
    </div>
    <div class="contenedorSecciones">
        <div class="registroDeSecciones">
            <h1 style="font-size: 30px;">Secciones existentes</h1>
            <div class="seccionesDelUsuario">
                <label>Alarmas</label>
                <label>Recordatorios</label>
                <label>Medicamentos</label>
            </div>
        </div>
        <div class="seleccionandoAndo">
            <label for="seleccionarSeccion">Seccion:</label>
            <select id="seleccionarSeccion" name="cTema" [(ngModel)]="seccionSeleccionada">
                <option value="default">--seleccionar seccion--</option>
                <option value="alarmas">Alarmas</option>
                <option value="recordatorios">Recordatorios</option>
                <option value="medicamentos">Medicamenntos</option>
            </select>
            <button id="borrarSeccion" typ="button" (click)="borrarSeccionSeleccionada()">Borrar</button>
            <label class="scxs">{{mensajeError}}</label>
        </div>
    </div>
    <div class="botonesss">
        <button id="confirmarAjustes" typ="button" (click)="confirmarCambios()">confirmar</button>
        <button id="cancelarCambios" typ="button" (click)="cancelar()">cancelar</button>
    </div>
</div>