<span class="contenedor_ingresar">

    <div class="contenido_ingresar">

        <div style="margin-bottom: 10px; font-size: xx-large;" *ngIf="!mensaje">Iniciar sesion</div>

        <ng-container *ngTemplateOutlet="pasos"></ng-container>

    </div>

</span>


<!-- templates -->

<ng-template #pasos>
    <form [formGroup]="datosRecuperar" (ngSubmit)="siguientePaso()">

        <!-- paso 1 -->
        <div *ngIf="paso1">
            <p class="orden">Por favor proporcione su correo electronico ligado a su cuenta <span
                    class="TIME">TIME</span>.</p>
            <label for="campoCorreoElectronico">Correo electronico:</label>
            <input type="text" id="campoCorreoElectronico" name="CorreoElectronico" placeholder="Correo electronico"
                formControlName="correoElectronico" maxlength="254">
        </div>
        <div class="formatoError" *ngIf="paso1">{{errorCorreoElectronico}}</div>
        <button type="button" class="botonContinuar" (click)="pasoUno()" *ngIf="paso1">Continuar</button>

        <!-- paso 2 -->
        <div *ngIf="paso2">
            <p class="orden">Por favor ingrese el codigo que le llego a su correo electronico.</p>
            <label for="codigo">Codigo:</label>
            <input type="text" id="codigo" placeholder="_ _ _ _ _ _ _" formControlName="codigo" maxlength="7">
        </div>
        <div class="formatoError" *ngIf="paso2">{{errorCodigo}}</div>
        <button type="button" class="botonContinuar" (click)="pasoDos()" *ngIf="paso1">Continuar</button>

        <!-- paso 3 -->
        <div *ngIf="paso3">
            <p class="orden">Ingrese su nueva contraseña.</p>

            <label for="campoContraseña">Contraseña:</label>
            <input 
                type="password"
                id="campoContraseña"
                placeholder="contraseña"
                formControlName="contrasena"
                maxlength="50">
        </div>
        <div class="formatoError" *ngIf="paso3">{{errorContrasena}}</div>

        <div *ngIf="paso3">
            <label for="campoConfirmarContraseña">Confirmar contraseña:</label>
            <input 
                type="password"
                id="campoConfirmarContraseña"
                formControlName="confirmarContrasena"
                maxlength="50">
        </div>
        <div class="formatoError" *ngIf="paso3">{{errorConfirmarContrasena}}</div>
        <!-- mensaje final -->
        <div *ngIf="mensaje" class="mensajeFin" style="margin-bottom: 10px;">
            <p>Contraseña cambiada. Bienvenido a TIME.</p>
        </div>
        <div class="contenedor_ingresar_botones">
            <!-- <button type="button" class="botonContinuar" (click)="siguientePaso()" *ngIf="!paso3 && (mensaje === false)">Continuar</button> -->
            <button type="submit" style="margin: 0px auto;" *ngIf="paso3">confirmar</button>
        </div>
    </form>

</ng-template>