<app-header></app-header>

<!--app-cuadro-confirmar-delete></app-cuadro-confirmar-delete-->

<!--app-principal></app-principal-->

<!--app-alarmas></app-alarmas-->
<!--app-crear-alarma></app-crear-alarma-->
<!--app-modificar-alarma></app-modificar-alarma-->

<!--app-recordatorios></app-recordatorios-->
<!--app-crear-recordatorio></app-crear-recordatorio-->
<!--app-modificar-recordatorio></app-modificar-recordatorio-->

<!--app-medicamentos></app-medicamentos-->
<!--app-crear-medicamento></app-crear-medicamento-->
<!--app-modificar-medicamento></app-modificar-medicamento-->

<!--app-ajustes></app-ajustes-->

<!--app-pruebas></app-pruebas-->

<router-outlet></router-outlet>