    <ul class="cuerpoPrincipal">
        <li class="subcuerpoPrincipal">
            Secciones
            <ul class="menuSecciones">
                <li> <a [routerLink]="['/alarma']">Alarmas</a> </li>
                <li> <a [routerLink]="['/recordatorio']">Recordatorios</a> </li>
                <li> <a [routerLink]="['/medicamento']">Medicamentosa</a> </li>
            </ul>
        </li>
        <li style="border-bottom: 2px solid #000;"><a [routerLink]="['/crearSeccion']">Crear nueva seccion</a></li>
        <li> <a [routerLink]="['/ajustes']">Ajustes</a> </li>
        <li><a [routerLink]="['/iniciarsesion']">Cerrar sesion</a></li>
    </ul>