
<div class="contenedorAlarma">
    <div class="contenidoAlarma">
        <div class="imagenIcono">
            <img src="../../../assets/media/icono-cena.png" alt="error :(">
        </div>
        <div class="subcontenedorAlarma">
            <ul class="informacionAlarma">
                <li style="width: 100%; height: 41px;">
                    <label class="etiquetaNombre">Nombre</label>
                </li>
                <li class="datos">
                    <label class="etiquetaFecha">Fecha: <span style="font-weight: normal;">--/--/----</span></label>
                    <label class="etiquetaSonarALas">Sonara a las: <span style="font-weight: normal;">--:-- XX</span></label>
                    <label class="etiquetaPararALas">Hora limite: <span style="font-weight: normal;">--:-- XX</span></label>
                    <label class="etiquetaSonarCada">Sonara cada <span style="font-weight: normal;">--</span> minutos</label>
                    
                </li>

                <li class="semana-descripcion-botones">
                    <p class="etiquetaDescripcion">
                        Este texto es un ejemplo para ver como definir los estilos para la etiqueta asi que bla bla bla bla bla blab lba bla bal bal blafmafvaldfkmvklamfmv fin.</p>
                    <span class="botones">
                        <!--button id="Tono" class="limpiarBoton" onclick="tono"><img src="../../../assets/media/icono-tono.png" alt="config" width="20" height="20"></button-->
                        <button id="boton-borrar" class="limpiarBoton" (click)="deleteRecordatorio()" type="button">
                            <img src="../../../assets/media/icono-bote-basura.png" alt="borrar" width="20" height="20">
                        </button>
                        <button id="bModificarAlarma" class="limpiarBoton" (click)="modificarRecordatorio()" type="button">
                            <img src="../../../assets/media/icono-tuerca.png" alt="config" width="20" height="20">
                        </button>
                    </span>
                </li>      
            </ul>
        </div>
    </div>
</div>