*{
        margin:                 0;
        padding:                0;
        -webkit-box-sizing:     border-box;
        -moz-box-sizing:        border-box;
        box-sizing:             border-box;
}


body{
	font-size:		15px;
	color:			white;
}
/*						fondo						*/
.ventanaCrearAlarma{
	position: 		fixed; 
  	z-index: 		1; 
  	left: 			0;
  	top: 			0;
  	width: 			100%;
  	height: 		100%;
  	overflow: 		auto;
  	background-color: 	rgba(0,0,0,0.5);
  	border: 		1px solid #ccc;
}

/*						ventana						*/
.contenidoCreate {
	background-color: 	#666666;
	margin: 		15% auto;
	border: 		3px solid #000;
	width:              	698px;
}

/*					etiqueta superior					*/
.EtiquetaSuperior{
	z-index:		2;
	display:		flex;
	justify-content:	space-between;
	align-items:		center;
	width:			693px;
	min-width:		693px;
	height:			55px;
	border:			0px solid #000;
	background:		#674ea7;
}

.imagenSuperiorIzquierda , .imagenSuperiorDerecha{
	margin:			0px 10px 0px 10px;
}

#Titulo{
	font-size:		30px;
	color:			white;
}

/*					cuadro de campos					*/

.campos{
	display:		flex;
	flex-direction:		column;
	position:		relative;
	margin:			20px;
	height:			auto;
	width:			658px;
	min-width:		658px;
}

.CamposDerechos{
	z-index:		2;
	display:		flex;
	flex-direction:		column;
	position:		absolute;
	top:			0;
	right:			0;
	max-width:		340px;
	height:			auto;
}

.CamposDerechos > li{
	display:		flex;
	justify-content:	space-between;
	margin:			5px 0px 5px 0px;
}

/*					activar o desactivar campos				*/
#campo1{
	display:		flex;
}
#nombreEtiqueta{
	width:			auto;
}

#campo2{
        display:                none;
}


#campo3{
        display:                flex;
}
#ingerirCantidad{
	width:                  auto;
}

#campo4{
        display:                none;
}


#campo5{
        display:                none;
}


#campo6{
        display:                none;
}


#campo7{
        display:                flex;
	justify-content:        center;
}

#campo8{
        display:                flex;
}
#DuracionDeTratamiento{
	width:                  auto;
}

#campo9{
        display:                flex;
	justify-content:        center;
}
#campo9 span{
	margin:			0px 3px 0px 3px;
}

#campo10{
        display:                flex;
}
#Tono{
	width:			auto;
}

#campo11{
        display:                flex;
}
#parrafo {
    width: 100%;
    resize: none;
}

/*					contenedores inferiores					*/
.camposInferiores{
	z-index:                2;
        display:                flex;
        flex-direction:         column;
        position:               relative;
	right:			0;
        min-width:              340px;
        width:			auto;
	height:                 auto;
}

/*					contenedor de imagenes					*/
.ImagenDesignada{
	z-index:		2;
	display:		flex;
	flex-direction:		column;
	position:		reltive;
	top:			0;
	right:			0;
	width:			320px;
	height:			370px;	
}

.VisualizarImagen{
	z-index:		3;
	display:		flex;
	justify-content:	center;
	align-items:		center;
	width:			300px;
	height:			300px;
	margin:			10px;
	
}

.BotonesImagen{
	display:		flex;
	justify-content:	center;
	width:			300px;
	height:			40px;
	margin:			0px 10px 10px 10px;
}

.botones{
	width:			auto;
	height:			40px;
	margin:			10px;
	display:		flex;
	justify-content:	space-around;
	position:		relative;
}

/* boton crear */
.confirmarCreate{
	border:			3px solid #000;
	background:		#000000;
	color:			white;
	font-size:		30px;
	font-weight:		bold;		
}

.confirmarCreate:hover,
.confirmarCreate:focus{
	color:			#000;
	text-decoration:	none;
	cursor:			pointer;
}
/* botón cerrar */
.cerrarCreate {
	border:                 3px solid #000;
	background:		#750000;
	color: 			white;
  	font-size: 		30px;
  	font-weight: 		bold;
}

.cerrarCreate:hover,
.cerrarCreate:focus {
  	color: 			#000;
  	text-decoration: 	none;
  	cursor: 		pointer;
}



