*{
	margin: 		0;
	padding: 		0;
	-webkit-box-sizing:	border-box;
	-moz-box-sizing:	border-box;
	box-sizing:		border-box;
}

body{
	font-size:		20px;
	background:		#000000;
}
/*					barra de navegacion					*/
.navegacion{
        width:                  100%;
        margin:                 0px ;
        background:             #8e7cc3;
	min-width:              365px;

}

.navegacion ul{
        list-style:             none;
}

#menuDesclegable{
        margin:                 0px 7px;
        display:                block;
        padding:                auto;
        border:                 none;
        background:             transparent;
        cursor:                 pointer;
        align-self:             center;
}

.menu>li{
        position:               relative;
        display:                inline-block;
        margin:        		0 7px;
}

.menu > li > a{
        display:                block;
        padding:                15px 10px;
        font-family:            'Open sans';
        text-decoration:        none;
}
.menu > li > a:hover{
        color:                  #f1c2ff;
        transition:             all .3s;
}

#añadirNuevaAlarma{
        display:                block;
        padding:                auto;
        border:                 none;
        background:             transparent;
        cursor:                 pointer;
        align-self:             center;
        margin:                 0px 7px;
}

.menu {
        display:                flex;
        justify-content:        space-between;
}


.menu > li:last-child {
        margin-left:            auto;
}

#seccion {
        padding:                0px 7px;
        text-align:             center;
        
        font-family:            'Open sans';
        font-size:              30px;
        flex-grow:              1;
        align-self:             center;
}

.submenu {
        position:               absolute;
        visibility:             hidden;
        background:             #782c8f;
        width:                  300px;
        height:                 auto;
        opacity:                0;
        transition:             opacity 1.5s;
        z-index:                2;
}
.submenu > li > a{
        display:                block;
        padding:                10px;
        color:                  #ffffff;
        font-family:            'Open sans';
        text-decoration:        none;
}

.submenu > li{
        color:                  #ffffff;
        font-family:            'Open sans';
        text-decoration:        none;
}

.menu > li:hover .submenu {
        visibility:             visible;
        opacity:                1;
}

.submenu > li > a:hover{
        color:                  #f1c2ff;
        transition:             all .3s;
}


.menu {
        display:                flex;
        justify-content:        flex-start;
}

/**					descripcion de medicament				*/
.medicamentoP{
	margin:			30px;
	padding:		0;
	/*height:			175px;*/
	background:		#ffffff;
	border:			1px solid #ccc;
	display:		flex;
	position:		relative;
	max-height:		665px;
	min-width:		322;
}

@media screen and (max-width: 525px) {
  .medicamentoP {
    display: inline-block;
  }
}


.imagenDeMedicamento{
	height:			300px;
	width:			300px;
	margin:			10px;
	display:		flex;
	justify-content:	center;
	align-items:		center;
}
/*

/*				cuadro de informacion del medicamento				*/
.informacion{
	margin:			15px;
	height:			auto;
	width:			auto;
	background:		#ffffff;
	flex-grow: 		1;
	display: 		flex;
	flex-direction: 	column;
	font-size:		20px;
}

.informacion label{
	margin:			10px 10px 10px 0px;
	display:                inline-block;
        background:             #ffffff;
        white-space:            nowrap;
}

.informacion > div{
        margin:                 10px 0px 10px 0px;
}

#nombreDeLaEtiqueta{
	display:		inline-block;
	background:		#ffffff;
	font-size:		25px;
	white-space:		nowrap;
}

#Descripcion{
	min-width:		
}

/* 					cuadro para botones 					*/
.botones{
	margin-top:		auto;
	display:		flex;
	justify-content:	flex-end;
}

/**                                     descripcion de medicament                               */
.medicamentoI{
        margin:                 30px;
        padding:                0;
        /*height:                       175px;*/
        background:             #ffffff;
        border:                 1px solid #ccc;
        display:                flex;
        position:               relative;
        max-height:             700px;
	min-width:              322;

}

@media screen and (max-width: 525px) {
  .medicamentoI {
    display: inline-block;
  }
}


.imagenDeMedicamentoI{
        height:                 300px;
        width:                  300px;
        margin:                 10px;
        display:                flex;
        justify-content:        center;
        align-items:            center;
}
/*

/*                              cuadro de informacion del medicamento                           */
.informacionI{
        margin:                 15px;
        height:                 auto;
        width:                  auto;
        background:             #ffffff;
        flex-grow:              1;
        display:                flex;
        flex-direction:         column;
        font-size:              20px;
}

.informacionI label{
        margin:                 10px 10px 10px 0px;
        display:                inline-block;
        background:             #ffffff;
        white-space:            nowrap;
}

.informacionI > div{
        margin:                 10px 0px 10px 0px;
}

#nombreDeLaEtiquetaI{
        display:                inline-block;
        background:             #ffffff;
        font-size:              25px;
        white-space:            nowrap;
}

#DescripcionI{
        min-width:
}

/*                                      cuadro para botones                                     */
.botonesI{
        margin-top:             auto;
        display:                flex;
        justify-content:        flex-end;
}

#boton-tono{
	verse o no lueego poner
}
